@model GestionalePoliziaComunale.Models.Violazione

@{
    ViewBag.Title = "Elimina";
}

<h1>Elimina violazione</h1>
@Html.ActionLink("Torna a lista", "Index", null, new { @class = "btn btn-primary" })
<h3>Sei sicuro di voler cancellare questa violazione?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
