@model GestionalePoliziaComunale.Models.Violazione

@{
    ViewBag.Title = "Dettagli";
}

<h1>Dettagli</h1>
@Html.ActionLink("Torna a lista", "Index", null, new { @class = "btn btn-primary" })
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.id_Violazione },new {@class = "btn btn-warning"})
</p>
