@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row my-5" aria-labelledby="aspnetTitle">
        <h1>Benvenuto nel Gestionale per le Violazioni della Polizia Municipale</h1>
        <p class="lead">Questo gestionale ti permette di gestire le violazioni e visualizzare le attività della polizia municipale.</p>
    </section>


    <img src="https://i.ytimg.com/vi/rc8bzCJlt4g/maxresdefault.jpg" alt="Immagine polizia municipale" />
</main>